/* DEFINIR MEDIANTE PSEUDOSELECTOR mis variables que
defino por colores , al custom properti le damos el nombre */

:root {
  /* colores */
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

/* para usar rem configuro html y body  */
html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /*1rem = 10 px*/
  font-family: "Krub", sans-serif;
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem; /*1200px*/
  margin: 0 auto 0 auto;
}

/* cuando no puedo abarcar todoel ancho del sitio es por que
me liminta mi contenedor   como con 120 rem*/

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  /* background-color: var(--secundario); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navegacion-principal a {
  /* background-color: var(--primario); */
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  padding: 1rem;
  color: var(--oscuro);
}

@media screen and (min-width: 480px) {
     
    body{
        background-color: #ffc107;
      }
}

