


/* DEFINIR MEDIANTE PSEUDOSELECTOR mis variables que
defino por colores , al custom properti le damos el nombre */

:root {

/* colores */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
}


/* para usar rem configuro html y body  */
html {
    font-size: 62.5%;
}

body {
font-size: 16px; /*1rem = 10 px*/
    font-family: "Krub", sans-serif;
}

.titulo {
   text-align: center;
   font-size: 3.8rem;
   
}

.titulo span{
    font-size: 2rem;  
 }

.contenedor {
    width: 120rem; /*1200px*/
    margin: 0 auto 0 auto;

}

/* cuando no puedo abarcar todoel ancho del sitio es por que
me liminta mi contenedor   como con 120 rem*/

.nav-bg {
    background-color: var(--secundario);
} 

.navegacion-principal {
    /* background-color: var(--secundario); */
    padding: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
 }


 .navegacion-principal a {
    /* background-color: var(--primario); */
    color: var(--blanco);
    text-decoration: none;
 }
