<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño freelancer</title>
</head>
<body>


    <header>

        <div class="logo_container-name">
            <img src="/Imagenes/logo_neltec.png" alt="">
        </div>

            <nav class="navbar_container">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>

        <div class="">
            <h1>Desing Web and Animation </h1>
            
        </div>
    
    
        
    </header>

    <main>

    </main>


    <footer>
        
    </footer>

    
</body>
</html>


